body{
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    margin: auto;
    background-color: #f1f1f1;
    width: 100vw;
}

.wrapper{
    display: grid;
    grid-template-rows: 1fr 1.5fr 2fr 2fr;
    justify-content: center;
    align-self: center;

    height: 70%;
    
    font-family: sans-serif;
    font-weight: 100;

    background-color: white;
    padding: 5%;
    padding-bottom: 7%;
}

.section{
    padding: 10px;
    margin: 5px;
}

.links{
    border: 1px solid grey;
}

h1{
    font-size: 1.7em;
    text-align: center;
}

h2{
    font-size: 1.3em;
}